<html>
    <head>
        <title>Coinview</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <!-- Fixing bug error favicon.ico in testing and dev environment but remove if for any production environment -->
        <link rel="shortcut icon" href="#">
     </head>

    <body>
        <h1>{{ title }}</h1>
    
        <div id="charts"></div>
    
        <div id="trades"></div>

        <div style="border: solid gray 1px; padding: 20px; width: 600px; margin-top: 20px;">
            <h3>Buy Crypto</h3>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                
                <div style="padding: 10px; margin-bottom: 10px; background-color: pink; border: solid red 1px; color:red;">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>

                {% endif %}
            {% endwith %}

            <form action="/buy" method="post">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
                <select id="symbol" name="symbol">
                    {% for symbol in symbols %}
                        <option>
                            {{ symbol['symbol'] }}
                        </option>
                    {% endfor %}s
                </select>
                <input type="submit" name="buy" value="buy" />
            </form>
        </div>
        
        <h3>Settings</h3>

        <div id="settings">
            <input type="checkbox" /><label>RSI</label>
            <input type="text" id="rsi_length" name="rsi_length" placeholder="14"/><label>Overbought</label>
            <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" /><label>Oversold</label>
            <input type="text" id="rsi_oversold" name="resi_oversold" placeholder="38"/>
        </div>

        <div id="my_balances">
            <h2>Balances</h2>
            <!-- my_balances -->

            <table>
                {% for balance in my_balances %}
                <tr>
                    <td>
                        {{ balance['asset'] }}
                    </td>
                    <td>
                        {{ balance['free']}}
                    </td>
                </tr>

                {% endfor %}
            </table>    
            
        </div>

        <script>
            // Create WebSocket connection.
            //const binanceSocket = new WebSocket('wss://stream.binance.com:9443/ws/btcusdt@trade');
            //console.log(binanceSocket);
      
            const tradeDiv = document.getElementById('trades');

            // Listen for messages
            /*
                socket.addEventListener('message', event => {
                    console.log('Message from server ', event.data);

                    const messageObject = JSON.parse(event.data);

                    tradeDiv.append(messageObject.p);
                });
            */
        </script>
        <!-- <script src="chart.js"></script> -->
        <script src="{{ url_for('static', filename='chart.js') }}"></script>
    </body> 
</html>

